.profile-content{
    background-color: #e5e5e5;
    width: 80%;
    height: 588px;
    /* display: flex;
    justify-content: center;
    align-content: center; */
    /* justify-content: center; */
    /* align-items: center; */
}
.profile-content h2{
    padding: 20px;
}
.profile-content .changepasswd form label{
    padding: 30px;
    font-size: 1.2em;
}
.profile-content .changepasswd form input[type="password"]{
    margin: 10px 30px;
    height: 30px;
    width: 200px;
    /* font-size: 1.2em; */
}
.profile-content .changepasswd form input[type="submit"]{
    margin: 10px 30px;
    height: 40px;
    background-color: #0093b4;
    border-radius: 10px;
    width: 150px;
    /* font-size: 1.2em; */
}